<h1>Home page</h1>
<ul>
  <li>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </li>
</ul>
<p>The Solar System[c] is the gravitationally bound system of the Sun and the
  objects that orbit it. It formed 4.6 billion years ago from the gravitational
  collapse of a giant interstellar molecular cloud. The vast majority (99.86%)
  of the system's mass is in the Sun, with most of the remaining mass contained
  in the planet Jupiter.</p>

  <img src="images/island.jpg" alt="island" width="400px"/>